:root {
    /* Fonts */
    --main-font: 'Roboto', 'Raleway' , sans-serif;

    /*Text color */

    --main-txt-cl: #212121;
    --light-txt-cl: #F5F5F5;

    /*Backround colors*/
    
}

    /* Селектор тега */
 body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color)
    
  }
 .hero {
    background: #2F303A;
    
    
  }

 .page-header {
    background: #FFFFFF
  }
  .logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    
    
  }
  .hero .title {
    color:var(--light-txt-cl);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px; 
  }
  .page-header .link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color:var(--main-txt-cl) ;
    text-decoration: none;
    
    
  }
  .page-header .link:hover ,
  .page-header .link:focus {
    color:#2196F3;
  }
  .logo-link:hover
  .logo-link:focus {
    color:#2196F3;
  }
    
  
  .link-studia.current ,
  .link.portfolio.current {
    color: #2196F3;
    
  }
  .logo-header {
    color: var(--main-txt-cl);
   

  }
  .link-studia {
    text-decoration: none;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
    text-decoration: none;
  }

  .list-1 {
    list-style-type: none;

  }
  
  .list-2 .link {
    justify-content: space-between;
    text-decoration: none;
    color: #757575; 
  }
  .list-2 {
    list-style-type: none;
  }

  .btn {    
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--light-txt-cl);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
 }
 .btn:hover ,
 .btn:focus {
  
 }
 .propriet {
    list-style-type: none;
    
 }
 .propriet .feature {
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    
    
 }
 .description {

    font-family: var(--main-font);
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
 }

 .feature {
    list-style-type: none;
    
    
 }
 .propriet .title {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;

 }
 .list-duty {
    list-style-type: none;
    
 }
 .our-team {
    list-style-type: none;
    font-family: var(--main-font);
 }
 .section-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;

    color: #212121;
 }
 .footer .link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    
 } 
 .footer .list-item {
    list-style-type: none;
 } 
  .footer .link:hover ,
  .footer .link:focus{
    color: #2196F3;
 }
 .footer {
    background: #2F303A;
 }
 .logo-footer {
    color: var(--light-txt-cl);
    
 }
  .link .adress {
    color:var(--light-txt-cl);
 }
 

 .proect {
    list-style-type: none;
    font-family: var(--main-font);
 }

 .descr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
 }
 .filtrs {
    list-style-type: none;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
 }
 .filtrs .button:hover ,
 .filtrs .button:focus {
    color: #FFFFFF;
    background-color: #2196F3;
 }

 .button{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
    
 }
 .button:hover , 
 .button:focus {
    color: #2196F3;
 }
 .section-team {
    background: #F5F4FA
 }
 .team-name {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
 }
